<div class="container" id="container">
  <div class="app-head">
    <h2 class="title">
      Select your city to check the weather
    </h2>
  </div>
  <div class="basic-container">
    <p>
      <mat-form-field>
        <mat-label>Select a city</mat-label>
        <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="bankCtrl">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected) = "selectCityForWeatherCheck($event)">
          <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
            {{bank.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
    <p>
      Selected city: {{selectedCityName}}
    </p>
  </div>
</div>

