.container {
  height: 100%;
  justify-content: center;

  background: url(https://media.giphy.com/media/xT0wlvGLHmojbeu5vq/giphy.gif) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

}
